<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quilterrier">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuilTerrier">
        <activity android:name=".recyler.RecylcerNacho"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".resetPassword"></activity>
        <activity android:name=".InicioApp" />
        <activity android:name=".ActivityCrearCuenta" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    //asdasdas dasda sdasd asd asd

</manifest>